* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    padding: 10px;
    background-color: rgb(54, 53, 52);
    margin: auto;
    border-radius: 10px;
}

.item {
    background-color: rgb(226, 127, 123);
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.output {
    background-color: #fff;
    width: 100%;
    min-height: 100px;
    text-align: right;
    padding: 10px 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.main {
    display: flex;
    flex-wrap: wrap;
    font-weight: 800;
    justify-content: space-between;
}
.main_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2px 0;
}
.main_top .item {
    width: 49.7%;
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
}
.main_top .item:hover {
    background-color: rgb(189, 63, 63);
}

.nums {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
}
.num {
    background-color: cadetblue;
    width: 33%;
    margin-bottom: 2px;
    font-size: 30px;

}
.num:hover {
    background-color: rgb(51, 127, 129);
}

.operators {
    width: 24.5%;
}
.math {
    background-color: #fff;
    height: 50px;
    margin-bottom: 2px;
    background-color: brown;
    color: white;
}
.math:hover {
    background-color: rgb(148, 38, 38);
}
.equally {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: cadetblue;
}